.wrapper {
  width: 88%;
  height: 66px;
  margin: 0 auto 20px;
  border: 15px solid #464244;
  background-color: #464244;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 125% 25px;
  border-bottom-right-radius: 125% 25px;
}

.display {
  background-color: #c3c2ab;
  border-radius: 6px;
  position: relative;
  padding-right: 7px;
  font-size: 73px;
  text-align: right;
  font-family: 'Calculator', sans-serif;
  width: 301px;
  height: 59px;
  overflow: hidden;
}

.displayItem {
  font-family: 'Orbitron', 'sans-serif';
  position: absolute;
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
}

.error {
  bottom: 6px;
  left: 7px;
}

.minus {
  left: 0;
  bottom: 5px;
  font-family: 'Calculator', sans-serif;
  font-size: 50px;
}

.memory {
  left: 9px;
  top: 7px;
}
