@font-face {
  font-family: 'Calculator';
  src: url('./assets/digital-7.ttf');
}

@font-face {
  font-family: 'Orbitron';
  src: url('./assets/Orbitron.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
  background-color: #818181;
  user-select: none;
}
